name: doxygen
on:
  schedule:
    - cron: '30 * * * *'

jobs:
  latest:
    runs-on: ubuntu-latest
    steps:
      - name: Install libraries
        run: |
          set -x
          sudo sed /etc/apt/sources.list -e "s/^# deb-src/deb-src/g" -i
          sudo apt-get update -q
          sudo apt-get install --no-install-recommends -q -y ruby2.5 doxygen graphviz
          sudo apt-get build-dep -q -y ruby2.5

      - name: Checkout ruby/ruby
        run: |
          git clone --depth=1 https://github.com/ruby/ruby .
          git rev-parse HEAD
          git log

      - run: autoconf
      - run: ./configure
      - run: make Doxyfile
      - run: doxygen
      - name: Upload results
        run: |
          aws s3 sync doc/capi/html/ s3://rubyci/doxygen-latest-html --no-progress
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.RUBYCI_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.RUBYCI_AWS_SECRET_ACCESS_KEY }}
