name: doxygen
on:
  schedule:
    - cron: '30 2,5,8,11,14,17,20,23 * * *' # Every three hours
  repository_dispatch:
    types: "doxygen"

jobs:
  latest:
    runs-on: ubuntu-latest
    steps:
      - name: Install libraries
        run: |
          set -x
          sudo apt-get update -q || :
          sudo apt-get install --no-install-recommends -q -y ruby doxygen graphviz
          sudo apt-get install --no-install-recommends -q -y build-essential libssl-dev libyaml-dev libreadline6-dev zlib1g-dev libncurses5-dev libffi-dev git

      - name: Checkout ruby/ruby
        run: |
          git clone --depth=1 https://github.com/ruby/ruby .
          git rev-parse HEAD
          git log

      - run: ./autogen.sh
      - run: ./configure
      - run: make Doxyfile
      - run: doxygen
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: doxygen-latest-html
          path: doc/capi/html
      - name: Upload results
        run: |
          aws s3 sync doc/capi/html/ s3://rubyci/doxygen-latest-html --no-progress
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.RUBYCI_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.RUBYCI_AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-west-2
      - name: Purge cache
        run: >-
          curl -i -X POST
          "https://api.fastly.com/service/${DOCS_FASTLY_SERVICE_ID}/purge/${SURROGATE_KEY}"
          -H "Fastly-Key: ${DOCS_FASTLY_KEY}" -H "fastly-soft-purge: 1" -H "Accept: application/json"
        env:
          DOCS_FASTLY_KEY: ${{ secrets.DOCS_FASTLY_KEY }}
          DOCS_FASTLY_SERVICE_ID: ${{ secrets.DOCS_FASTLY_SERVICE_ID }}
          SURROGATE_KEY: doxygen-latest-html
